{% extends 'student/base.html' %}
{% load widget_tweaks %}

{% block content %}
            <div class="container-fluid p-0">
                <div class="row mb-2 mb-xl-3">
                    <div class="col-auto d-none d-sm-block mb-4">
                        <h3 class="text-purple fs-1">HELLO GODSSTAR
                        </h3>
                        <h3 class="fs-2 fw-bold" style="color: #498A70;">Extend Exeat</h3>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card bg-body">
                                <div class="card-header bg-body">
                                    <h5 class="fs-3 card-title">Please fill in your details below.</h5>
                                </div>
                                <div class="card-body">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label class="fs-4 fw-bold text-purple form-label">SELECT EXEAT</label>
                                                {% render_field form.exeat class+='form-control inputs-2' %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label class="fs-4 fw-bold text-purple form-label">RETURN DATE</label>
                                                {% render_field form.return_date class+='form-control inputs-2' type="date" %}
                                            </div>
                                        </div>
                                        <div class=" mt-3">
                                            <label class="fs-4 fw-bold text-purple form-label mt-sm-3">REASON</label>
                                            <div class="mb-3 form-floating">{{ form.Reason }}
                                                <label for="floatingInput">Reasons(s) for exeat extension</label>
                                            </div>
                                        </div>
                                        <div class="mt-5 shadow p-3 rounded bg-secondary">
                                            <p class="text-white">Attachment (Optional)</p>
                                            {% render_field form.attachment class+='form-control' %}
                                        </div>
                                        <a href="#" class="nav-link text-white mt-5">
                                            <button type="submit" class="btn btn-primary apply_btn "
                                                    style="background-color: #498A70;" onclick="success()">Submit
                                            </button>
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
