{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/photos/CU_LOGO 1.svg'%}" />
    <title>LOGIN</title>
</head>

<body>
    <div class="card bg-white lg_div position-absolute top-50 start-50 translate-middle">
        <h1 class="mt-4 mb-4 wc_text">Welcome onboard!</h1>
        {% if form.errors %}
        <p>username or password not correct</p>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
        <p>
            <label for="inputEmail"></label><input type="text" class="form-control inputs username" name="username" id="inputEmail" placeholder="Username" required >
        </p>
        <p>
            <label for="inputPass"></label><input type="password" class="form-control inputs password" name="password" id="inputPass" placeholder="Password" required>
        </p>
        <button class="lg_button mt-lg-5 mt-sm-3">Login</button>
        </form>
        <p class="mt-lg-3">
            <a href="{% url 'reset_password' %}">Forgot password?</a> <br>
        </p>
    </div>
    <script src="{% static 'js/popper.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>
</body>

</html>