{% extends 'exeat_team/base.html' %}
{% load static %}

{% block content %}
    <div class="col-12 col-xl-12">
    <div class="col-auto">
        <p class="text-success fs-2 fw-bold">EXEAT APPLICATIONS</p>
    </div>
    <div class="card">
        <div class="card-header">
            <h1 class="text-success text-center fs-2 mb-5 fw-bolder">APPROVE OR DISSAPROVE <span
                    class="fs-1 text-purple">HOME</span> EXEATS BELOW</h1>
        </div>
        <table id="datatables-reponsive" class="table table-striped" style="width:100%">
            <thead class="text-purple">
            <tr>
                <th scope="col">NAME</th>
                <th scope="col">MATRIC NUMBER</th>
                <th scope="col">HALL/ ROOM NO.</th>
                <th scope="col">LEAVE DATE</th>
                <th scope="col">RETURN DATE</th>
                <th data-priority="1" ></th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.get_exeat_type_display }}</td>
                    <td>{{ object.user.username }}</td>
                    <td>{{ object.leave_date }}</td>
                    <td>{{ object.return_date }}</td>
                    <td class="text-warning fw-bold">{{ object.get_status_display }}</td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#one{{ object.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                            </svg>
                            View
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="one{{ object.id }}" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog ">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title fs-3 fw-bold text-purple" id="exampleModalLabel">EXEAT
                                            DETAILS</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- if the administrator approved the exeat -->
                                        <div class="alert alert-success d-flex align-items-center" role="alert">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="55" role="img"
                                                 aria-label="Success:">
                                                <use xlink:href="#check-circle-fill"/>
                                            </svg>
                                            <div>
                                                Exeat was approved successfully!
                                            </div>
                                        </div>
                                        <!-- if the exeat was dissapproved -->
                                        <div class="alert alert-success d-flex align-items-center" role="alert">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="55" role="img"
                                                 aria-label="Success:">
                                                <use xlink:href="#check-circle-fill"/>
                                            </svg>
                                            <div>
                                                Exeat was dissaproved successfully!
                                            </div>
                                        </div>
                                        <div class="card p-3 shadow-lg p-3 mb-5 rounded">
                                            <p class="fs-3 "><span
                                                    class="fw-bolder fs-3 text-dark">NAME: </span></strong>{{ object.user.first_name }} {{ object.user.last_name }}
                                            </p>
                                            <p class="fs-3 "><span
                                                    class="fw-bolder fs-3 text-dark">MATRIC NUMBER: </span></strong>{{ object.user.username }}
                                            </p>
                                            <p class="fs-3 "><span
                                                    class="fw-bolder fs-3 text-dark">DEPARTURE DATE: </span></strong>{{ object.leave_date }}
                                            </p>
                                            <p class="fs-3 "><span
                                                    class="fw-bolder fs-3 text-dark">RETURN DATE: </span></strong>{{ object.return_date }}
                                            </p>
                                            <p class="fs-3 "><span
                                                    class="fw-bolder fs-3 text-dark">EXEAT TYPE: </span></strong>{{ object.get_exeat_type_display }}
                                            </p>
                                            <p class="fs-3 "><span class="fw-bolder fs-3 text-dark">PARENTS PHONE NUMBER: </span></strong>{{ object.user.profile.parent_phone_no }}
                                            </p>
                                            <p class="fs-3 "><span
                                                    class="fw-bolder fs-3 text-dark">REASON: </span>{{ object.reason }}
                                            </p>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="d-flex">
                                            <a href="" class="nav-link text-white">
                                                <button type="submit" class="btn btn-primary apply_btn fs-4"
                                                        style="background-color: #498A70;"
                                                        onclick="Accept({{ object.id }})">Accept
                                                </button>
                                            </a>
                                            <a href="#" class="nav-link text-white">
                                                <button type="submit" class="btn btn-primary apply_btn fs-4"
                                                        style="background-color: #bb1919;" data-bs-target="#seven{{ object.id }}"
                                                        data-bs-toggle="modal" data-bs-dismiss="modal">Dissaprove
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="seven{{ object.id }}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
                             tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalToggleLabel2"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-center fw-bolder text-purple fs-3">REASON FOR DISSAPROVAL</p>
                                        <div class="mb-3 form-floating">
                                            <textarea class="form-control inputs-2" id="floatingInput{{ object.id }}" required
                                                      placeholder="Reasons(s) for leaving" rows="1"
                                                      style="height: 150px;"></textarea>
                                            <label for="floatingInput">Reasons(s) for dissaproval</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" onclick="Disapprove({{ object.id }})" class="btn btn-primary apply_btn fs-4">Disapprove
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>No more Applications</tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    <script src="{% static 'js/datatables.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Datatables Responsive
            $("#datatables-reponsive").DataTable({
                responsive: true
            });
        });

    </script>
{% endblock %}