{% extends 'exeat_team/base.html' %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="col-auto">
            <h3 class="text-purple fs-1">HELLO <strong>ADMINISTRATOR</strong></h3>
        </div>
        <div class="row mb-2 mb-xl-3 mt-2">
            <div class="card mt-lg-5 px-3" style="width: 1200px;">
                <div class="row">
                    <div class="card-header col-lg-6">
                        <h5 class="fs-2 fw-bold card-title text-purple">Welcome Back !</h5>
                        <h5 class="fs-3 card-title text-purple mb-5">You can approve or dissaprove exeats and other
                            administrative priviledges.</h5>
                        <a href="{% url 'exeat_choose_exeat' %}"
                           class="nav-link text-white position-absolute bottom-0 start-0 mb-lg-5 mx-lg-5">
                            <button type="submit pt-5" class="btn btn-primary apply_btn "
                                    style="background-color: #498A70;">Pending Exeats
                            </button>
                        </a>
                    </div>
                    <div class="col-6 pt-lg-5 pb-5 ">
                        <img src="/img/photos/prof1.svg" alt="" class="img-fluid d-flex welcome_img">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script src=" js/app.js "></script>
</body>


</html>