{% extends 'student/base.html' %}
{% load widget_tweaks %}
{% block content %}
            <div class="container-fluid p-0">

                <div class="row mb-2 mb-xl-3">
                    <div class="col-auto d-none d-sm-block">
                        <h3 class="text-purple fs-1">HELLO <strong>GODSSTAR</strong></h3>
                    </div>
                </div>
            </div>
            <div class="card col-sm-8 col-md=8 mt-5 change_pass_card top-0 start-50 translate-middle-x text-center">
                <div class="card-body">
                    <h1 class="text-purple mt-2">Change Password</h1>
                    <form method="post">
                        {% csrf_token %}
                    <div class="mb-4 mt-4">
                        {% render_field form.old_password class+="form-control inputs" placeholder="Current Password" %}
                    </div>
                    <div class="mb-4">
                        {% render_field form.new_password1 class+="form-control inputs" placeholder="New Password" %}
                    </div>
                    <div class="mb-4">
                        {% render_field form.new_password2 class+="form-control inputs" placeholder="Confirm Password" %}
                    </div>
                    <a href="#" class=" text-white text-decoration-none" onclick="success()">
                        <button type="submit" class="btn cp_button mt-lg-3">Submit</button>
                    </a>
                    </form>
                </div>
            </div>
{% endblock %}