* {
    margin: 0;
    padding: 0;
    border: 0;
}

.clear {
    clear: both;
}

.right {
    float: right;
}

.text-purple {
    color: #464646;
}

.left {
    float: left;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
    color: #000000;
    text-align: center;
}

#wrapper {
    width: 980px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #fff;
}

button :hover {
    color: #fff !important;
}

h1 {
    font-size: 2.2em;
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.25);
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
}


/* LOGIN PAGE */

.lg_div {
    width: 427px;
    height: 427px;
    background: #FFFFFF;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

@media screen and (max-width: 440px) {
    .lg_div {
        width: 317px;
        height: 317px;
    }
}

.lg_div h1 {
    color: #70498A;
    font-size: 30px;
    line-height: 45px;
}

.inputs {
    left: -0.27%;
    right: 0.27%;
    top: 0%;
    bottom: 60.63%;
    background: #F4F5F8;
    width: 364px;
    height: 50px;
    border-radius: 25px;
    font-size: 15px;
    line-height: 19.5px;
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 440px) {
    .inputs {
        width: 250px;
        height: 40px;
    }
    .wc_text {
        font-size: 20px !important;
    }
}

.lg_button {
    left: 42.29%;
    right: 42.29%;
    top: 58.67%;
    bottom: 35.78%;
    background: #70498A;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.25);
    color: #fff;
    width: 222px;
    height: 50px;
    border-radius: 18px;
}

@media screen and (max-width: 440px) {
    .lg_button {
        width: 200px;
        height: 40px;
    }
}

p a {
    text-decoration: none;
    color: black;
    line-height: 12px;
    font-size: 13px;
}


/* STYLE FOR CHANGE PASSWORD */

.sidebar {
    flex-wrap: nowrap;
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    background: #70498A;
    position: fixed;
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold {
    font-weight: 600;
}

.lh-tight {
    line-height: 1.25;
}

.active {
    background: #ffffff3f !important;
}

@media screen and (max-width: 850px) {
    #big_sidebar {
        display: none;
    }
}

@media screen and (min-width: 849px) {
    #small_sidebar {
        display: none;
    }
}

.navbar {
    position: absolute;
}

.name_field {
    position: absolute;
    width: 1080px;
    height: 900px;
}

@media screen and (max-width: 1377px) {
    .name_field {
        position: absolute;
        width: 760px;
        height: 1000px;
    }
    .p_change {
        margin-left: 90px;
    }
}

@media screen and (max-width: 1060px) {
    .name_field {
        position: absolute;
        width: 400px;
    }
    .aba {
        margin: 80px 70px 0 0;
    }
}

.name_field h1 {
    color: #70498A;
    font-weight: 300;
    font-size: 30px;
}

.name_field .container-fluid {
    margin: 150px;
}

.call {
    margin-top: 120px;
}

#big_sidebar div li :hover {
    background: #ffffff3f !important;
}

.form-control {
    display: block;
    margin: auto auto;
    padding: .25rem .7rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}


/* EDIT PROFILE PAGE */