{% extends %}
<div class="col-12 col-xl-12">
    <div class="col-auto">
        <p class="text-purple fs-2 fw-bold">LIST OF DEFAULTERS</p>
    </div>
    <div class="card">
        <div class="card-header">
            <h1 class="text-success text-center fs-2 mb-5 fw-bolder">VIEW THE LIST OF DEFAULTERS BELOW</h1>
        </div>
        <table class="table">
            <thead class="text-purple">
            <tr>
                <th scope="col">NAME</th>
                <th scope="col">MATRIC NUMBER</th>
                <th scope="col">HALL/ ROOM NO.</th>
                <th scope="col">LEAVE DATE</th>
                <th scope="col">RETURN DATE</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="d-none d-md-table-cell">JOSEPH JOHN</td>
                <td class="d-none d-md-table-cell">18CJ024123</td>
                <td class="text-info fw-bolder">JOSEPH/ H109</td>
                <td>2021-06-19</td>
                <td>2021-06-25</td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#one">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                        </svg>
                        View
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="one" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog ">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title fs-3 fw-bold text-purple" id="exampleModalLabel">EXEAT
                                        DETAILS</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="card p-3 shadow-lg p-3 mb-5 rounded">
                                        <p class="fs-3 "><span class="fw-bolder fs-3 text-dark">NAME: </span></strong>
                                            GODSSTAR</p>
                                        <p class="fs-3 "><span
                                                class="fw-bolder fs-3 text-dark">MATRIC NUMBER: </span></strong>
                                            18CJ024567</p>
                                        <p class="fs-3 "><span
                                                class="fw-bolder fs-3 text-dark">INITIAL RETURN DATE: </span></strong>
                                            21st March, 2021</p>
                                        <p class="fs-3 text-success fw-bold "><span class="fw-bolder fs-3 text-success">ACTUAL RETURN DATE: </span></strong>
                                            31st March, 2021</p>
                                        <p class="fs-3 "><span
                                                class="fw-bolder fs-3 text-dark">EXEAT TYPE: </span></strong>BANK</p>
                                        <p class="fs-3 "><span
                                                class="fw-bolder fs-3 text-dark">PARENTS PHONE NUMBER: </span></strong>
                                            09087898766</p>
                                        <p class="fs-3 "><span class="fw-bolder fs-3 text-dark">REASON: </span>Lorem
                                            ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repellat
                                            reiciendis assumenda rem hic quis dolore dolores delectus earum
                                            inventore expedita impedit numquam
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
    </td>
    </tr>
    <tr>
        <td class="d-none d-md-table-cell">JOHN DAVID</td>
        <td class="d-none d-md-table-cell">18CJ024197</td>
        <td class="text-info fw-bolder">JOSEPH/ B307</td>
        <td>2021-06-19</td>
        <td>2021-06-25</td>
        <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#two">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                     class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg>
                View
            </button>

            <!-- Modal -->
            <div class="modal fade" id="two" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fs-3 fw-bold text-purple" id="exampleModalLabel">EXEAT DETAILS</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card p-3 shadow-lg p-3 mb-5 rounded">
                                <p class="fs-3 "><span class="fw-bolder fs-3 text-dark">NAME: </span></strong>GODSSTAR
                                </p>
                                <p class="fs-3 "><span class="fw-bolder fs-3 text-dark">MATRIC NUMBER: </span></strong>
                                    18CJ024567</p>
                                <p class="fs-3 "><span
                                        class="fw-bolder fs-3 text-dark">INITIAL RETURN DATE: </span></strong>21st
                                    March, 2021</p>
                                <p class="fs-3 text-success fw-bold "><span class="fw-bolder fs-3 text-success">ACTUAL RETURN DATE: </span></strong>
                                    31st March, 2021</p>
                                <p class="fs-3 "><span class="fw-bolder fs-3 text-dark">EXEAT TYPE: </span></strong>BANK
                                </p>
                                <p class="fs-3 "><span
                                        class="fw-bolder fs-3 text-dark">PARENTS PHONE NUMBER: </span></strong>
                                    09087898766</p>
                                <p class="fs-3 "><span class="fw-bolder fs-3 text-dark">REASON: </span>Lorem ipsum dolor
                                    sit amet, consectetur adipisicing elit. Adipisci repellat reiciendis assumenda rem
                                    hic quis dolore dolores delectus earum inventore
                                    expedita impedit numquam
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
</div>
</main>
</tr>
<tr>
    <td class="d-none d-md-table-cell">EMMANUEL UKPONG</td>
    <td class="d-none d-md-table-cell">18CJ024123</td>
    <td class="text-info fw-bolder">JOSEPH/ H109</td>
    <td>2021-06-19</td>
    <td>2021-06-25</td>
    <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#three">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill"
                 viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg>
            View
        </button>

        <!-- Modal -->
        <div class="modal fade" id="three" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fs-3 fw-bold text-purple" id="exampleModalLabel">EXEAT DETAILS</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card p-3 shadow-lg p-3 mb-5 rounded">
                            <p class="fs-3 "><span class="fw-bolder fs-3 text-dark">NAME: </span></strong>GODSSTAR</p>
                            <p class="fs-3 "><span class="fw-bolder fs-3 text-dark">MATRIC NUMBER: </span></strong>
                                18CJ024567</p>
                            <p class="fs-3 "><span
                                    class="fw-bolder fs-3 text-dark">INITIAL RETURN DATE: </span></strong>21st March,
                                2021</p>
                            <p class="fs-3 text-success fw-bold "><span class="fw-bolder fs-3 text-success">ACTUAL RETURN DATE: </span></strong>
                                31st March, 2021</p>
                            <p class="fs-3 "><span class="fw-bolder fs-3 text-dark">EXEAT TYPE: </span></strong>BANK</p>
                            <p class="fs-3 "><span
                                    class="fw-bolder fs-3 text-dark">PARENTS PHONE NUMBER: </span></strong>09087898766
                            </p>
                            <p class="fs-3 "><span class="fw-bolder fs-3 text-dark">REASON: </span>Lorem ipsum dolor sit
                                amet, consectetur adipisicing elit. Adipisci repellat reiciendis assumenda rem hic quis
                                dolore dolores delectus earum inventore expedita
                                impedit numquam
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td class="d-none d-md-table-cell">ISAIAH JEREMIAH</td>
    <td class="d-none d-md-table-cell">18CJ024123</td>
    <td class="text-info fw-bolder">JOHN/ H109</td>
    <td>2021-06-19</td>
    <td>2021-06-25</td>
    <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#four">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill"
                 viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg>
            View
        </button>

        <!-- Modal -->
        <div class="modal fade" id="four" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fs-3 fw-bold text-purple" id="exampleModalLabel">EXEAT DETAILS</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card p-3 shadow-lg p-3 mb-5 rounded">
                            <p class="fs-3 "><span class="fw-bolder fs-3 text-dark">NAME: </span></strong>GODSSTAR</p>
                            <p class="fs-3 "><span class="fw-bolder fs-3 text-dark">MATRIC NUMBER: </span></strong>
                                18CJ024567</p>
                            <p class="fs-3 "><span
                                    class="fw-bolder fs-3 text-dark">INITIAL RETURN DATE: </span></strong>21st March,
                                2021</p>
                            <p class="fs-3 text-success fw-bold "><span class="fw-bolder fs-3 text-success">ACTUAL RETURN DATE: </span></strong>
                                31st March, 2021</p>
                            <p class="fs-3 "><span class="fw-bolder fs-3 text-dark">EXEAT TYPE: </span></strong>BANK</p>
                            <p class="fs-3 "><span
                                    class="fw-bolder fs-3 text-dark">PARENTS PHONE NUMBER: </span></strong>09087898766
                            </p>
                            <p class="fs-3 "><span class="fw-bolder fs-3 text-dark">REASON: </span>Lorem ipsum dolor sit
                                amet, consectetur adipisicing elit. Adipisci repellat reiciendis assumenda rem hic quis
                                dolore dolores delectus earum inventore expedita
                                impedit numquam
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>

<script src="js/app.js "></script>